apiVersion: apps/v1
kind: Deployment
metadata:
  name: nifi-registry
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nifi-registry
  template:
    metadata:
      labels:
        app: nifi-registry
    spec:
      initContainers:
        - name: download-jdbc
          image: curlimages/curl:8.6.0
          command:
            - sh
            - -c
            - >
              curl -fL
              https://repo1.maven.org/maven2/org/postgresql/postgresql/42.7.9/postgresql-42.7.9.jar
              -o /opt/nifi-registry/nifi-registry-current/lib/postgresql.jar
          volumeMounts:
            - name: registry-lib
              mountPath: /opt/nifi-registry/nifi-registry-current/lib

      containers:
        - name: nifi-registry
          image: "apache/nifi-registry:2.6.0"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 18080
          envFrom:
            - secretRef:
                name: nifi-registry-db
          resources:
            limits:
              cpu: 2
              memory: 2Gi
            requests:
              cpu: 500m
              memory: 768Mi
          volumeMounts:
            - name: registry-lib
              mountPath: /opt/nifi-registry/nifi-registry-current/lib

      volumes:
        - name: registry-lib
          emptyDir: {}
