apiVersion: apps/v1
kind: Deployment
metadata:
  name: nifi-registry
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: nifi-registry
  template:
    metadata:
      labels:
        app: nifi-registry
    spec:
      initContainers:
        - name: download-jdbc
          image: curlimages/curl:8.6.0
          command:
            - sh
            - -c
            - >
              curl -fL
              https://repo1.maven.org/maven2/org/postgresql/postgresql/{{ .Values.jdbc.driverVersion }}/postgresql-{{ .Values.jdbc.driverVersion }}.jar
              -o /opt/nifi-drivers/postgresql.jar
          volumeMounts:
            - name: drivers
              mountPath: /opt/nifi-drivers

      containers:
        - name: nifi-registry
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 18080
          envFrom:
            - secretRef:
                name: nifi-registry-db
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: drivers
              mountPath: /opt/nifi-drivers

      volumes:
        - name: drivers
          emptyDir: {}
