apiVersion: apps/v1
kind: Deployment
metadata:
  name: nifi-registry
  labels:
    app: nifi-registry
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: nifi-registry
  template:
    metadata:
      labels:
        app: nifi-registry
    spec:
      initContainers:
        - name: download-postgres-driver
          image: curlimages/curl:8.6.0
          command:
            - sh
            - -c
            - |
              curl -L https://jdbc.postgresql.org/download/postgresql-42.7.4.jar \
                -o /drivers/postgresql.jar
          volumeMounts:
            - name: postgres-driver
              mountPath: /drivers

      containers:
        - name: nifi-registry
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 18080
          envFrom:
            - secretRef:
                name: nifi-registry-db
          volumeMounts:
            - name: config
              mountPath: /opt/nifi-registry/nifi-registry-current/conf/nifi-registry.properties
              subPath: nifi-registry.properties
            - name: postgres-driver
              mountPath: /opt/nifi-registry/nifi-registry-current/lib
          resources:
{{ toYaml .Values.resources | indent 12 }}

      volumes:
        - name: config
          configMap:
            name: nifi-registry-config
        - name: postgres-driver
          emptyDir: {}
