apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "nifi-registry.name" . }}
  labels:
{{ include "nifi-registry.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount | default 1 }}
  selector:
    matchLabels:
{{ include "nifi-registry.selectorLabels" . | indent 6 }}
  template:
    metadata:
      labels:
{{ include "nifi-registry.selectorLabels" . | indent 8 }}
    spec:

      initContainers:
        - name: init-nifireg-container
          image: mwendler/wget:latest
          command:
            - /bin/sh
            - -c
            - |
              wget --no-check-certificate \
                -O /drivers/postgresql-42.7.9.jar \
                https://repo1.maven.org/maven2/org/postgresql/postgresql/42.7.9/postgresql-42.7.9.jar && \
              chmod 0644 /drivers/postgresql-42.7.9.jar
          volumeMounts:
            - name: volume-drivers-nifireg
              mountPath: /drivers

      containers:
        - name: nifireg-container
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          ports:
            - name: http
              containerPort: 18080
              protocol: TCP

          env:
            - name: NIFI_REGISTRY_FLOW_PROVIDER
              value: database
            - name: NIFI_REGISTRY_DB_URL
              value: {{ .Values.database.url | quote }}
            - name: NIFI_REGISTRY_DB_CLASS
              value: org.postgresql.Driver

          envFrom:
            - secretRef:
                name: {{ .Values.database.secretName }}

          volumeMounts:
            - name: volume-drivers-nifireg
              mountPath: /opt/nifi-registry/lib

          readinessProbe:
            httpGet:
              path: /nifi-registry
              port: 18080
            initialDelaySeconds: 60
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /nifi-registry
              port: 18080
            initialDelaySeconds: 120
            periodSeconds: 20

          resources:
{{ toYaml .Values.resources | indent 12 }}

      volumes:
        - name: volume-drivers-nifireg
          emptyDir: {}
