apiVersion: v1
kind: Service
metadata:
  name: nifi-registry
  labels:
{{ include "nifi-registry.labels" . | indent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 18080
      protocol: TCP
      name: http
  selector:
{{ include "nifi-registry.selectorLabels" . | indent 4 }}
