apiVersion: v1
kind: Service
metadata:
  name: nifi-registry
  labels:
    app: nifi-registry
spec:
  type: ClusterIP
  selector:
    app: nifi-registry
  ports:
    - port: 18080
      targetPort: 18080
      protocol: TCP
