replicaCount: 1

image:
  repository: apache/nifi-registry
  tag: "2.6.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 18080

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 1Gi

database:
  url: jdbc:postgresql://postgresql:5432/nifi_registry
  username: nifi
  password: nifi
