image:
  repository: apache/nifi-registry
  tag: "2.6.0"
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: ClusterIP
  port: 18080

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 1Gi

database:
  host: postgresql
  port: 5432
  name: nifi_registry
